.searchBox {
  display: flex;
  justify-content: center;
}

/* 
.searchBox input {
  border-radius: 8px 0 0 8px;
  border: 0;
  outline: none;
  height: 36px;
  padding: 4px 16px;
  background-color: white;
  color: #000;
}

button {
  cursor: pointer;
}

div {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
} */
