.displayMon {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.displayMon img {
  border: 5px black solid;
  position: absolute;
  align-items: center;
  bottom: 50px;
  width: 300px;
}

.displayMon p {
  font: 400 1rem "Roboto", sans-serif;
}
